.expensesLaneContainer {
    padding-left: 10%;
    padding-right: 10%;
}

.formInput {
    width: 100%;
}

.tstDivMain {
    position: absolute;
    top: 50px;
    left: 0px;
}

@media (min-width:320px) and (max-width: 480px) {

    /* smartphones, iPhone, portrait 480x320 phones */
    .expensesLaneContainer {
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media (min-width:481px) and (max-width: 640px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) and (max-width: 960px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) and (max-width: 1024px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) and (max-width: 1281px) {
    /* big landscape tablets, laptops, and desktops */
    .expensesLaneContainer {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}