/* ExpenseCardComponent Style */
.cardIcons {
    font-size: 35px !important;
}

.cardIconsContainer {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.expenseHeaderContainer {
    padding: 5px;
    width: 50%;
}

.cardContainer {
    background-color: #e2e2e2;
    border-radius: 1;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
}

/* PortalShowMoreDetails Style */

.showMoreDetailsContainer {
    background-color: #eceaea; 
    /* height: 50px;  */
    border-radius: 0px 0px 5px 5px;
    margin-top: 3px;
    display: block;
    text-align: center;
    /* align-content: center; */
    /* justify-content: center; */
    border-top: 3.5px white dotted;
}

@media (min-width:320px) and (max-width: 480px) {

    /* smartphones, iPhone, portrait 480x320 phones */
    .cardIcons {
        font-size: 30px !important;
    }

    .cardIconsContainer {
        justify-content: flex-end;
        padding-right: 5px;
    }
}

@media (min-width:481px) and (max-width: 640px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .cardIconsContainer {
        justify-content: flex-end;
    }
}

@media (min-width:641px) and (max-width: 960px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .cardIconsContainer {
        justify-content: flex-end;
    }
}

@media (min-width:961px) and (max-width: 1024px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .cardIconsContainer {
        justify-content: flex-end;
    }
}

@media (min-width:1025px) and (max-width: 1281px) {
    /* big landscape tablets, laptops, and desktops */
    .cardIconsContainer {
        justify-content: flex-end;
    }
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}